@page
@model IndexModel
@{
    ViewData["Title"] = "Test Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">My building Web apps with ASP.NET Core</a>.</p>
    welcome to my first CI/CD Build Pipeline and Release Pipeline
    deployment server is down now
    
    My New text
</div>
